<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Submit an adorable kitty UwU</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1>Submit an adorable kitty!</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
      <input type="file" name="kitty" required />
      <button type="submit">Submit Kitty</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
