<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>💖🎀 Submit an adorable kitty UwU 🎀💖</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

    <style>
      body {
        background-color: #ffc0cb;
        color: #ff69b4;
      } /* This will make the page a soft pink and text hot pink UwU */
      h1 {
        text-align: center;
        padding: 20px;
        font-size: 36px;
        font-family: "Comic Sans MS", cursive, sans-serif;
      } /* This will make the heading cute and centered with beautiful Comic Sans styling 💖 */
      form {
        margin: 0 auto;
        width: 300px;
      } /* This will center the form on the page! UwU */
    </style>
  </head>

  <body>
    <h1>🎀💞🐾Submit an adorable kitty!🐾💞🎀</h1>

    <form action="/submit" method="post" enctype="multipart/form-data">
      <input type="file" name="kitty" required />

      <button
        type="submit"
        style="
          background-color: #ffb6c1;
          color: #ff69b4;
          border: none;
          padding: 15px 32px;
          text-align: center;
          display: inline-block;
          font-size: 16px;
        "
      >
        🎀🐱Submit Kitty🐱🎀
      </button>
    </form>
    <a href="/" style="color: #ff69b4">💕🏡Back to home🏡💕</a>
  </body>
</html>
