<!doctype html>
<html>
  <head>
    <style>
      body {
        background-color: #f4c2c2; /* 💖💕🐾 Aren't these colors just purr-fect?*/
      }
      .thank-you-message {
        text-align: center; /*👈 We want our message to be in the center, don't we? 😸 */
        font-size: 2em;
        color: #ff7171;
        font-family: "Comic Sans MS", cursive, sans-serif; /* 😽 */
        margin-top: 20%; /* 👈 Let's shift the message down a bit to make it extra cute! 💖 */
      }
    </style>
  </head>
  <body>
    <div class="thank-you-message">
      Thank you, hooman! 🥰 You've successfully submitted your furr-iend for
      cutesy cat of the day! 💖🐾 We will be in touch if your kitty wins! 😺🏆
    </div>
  </body>
</html>
